In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/greenhouse_gas_inventory_data_data.csv')

In [ ]:
data.head()

  country_or_area  ...                                           category
0       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
1       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
2       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
3       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...
4       Australia  ...  carbon_dioxide_co2_emissions_without_land_use_...

[5 rows x 4 columns]

In [ ]:
set(data['category'].values)

{'carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
 'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent',
 'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
 'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent',
 'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
 'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent',
 'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent',
 'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent',
 'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent',
 'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent'}

In [ ]:
map = {'carbon_dioxide_co2_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'co2',
 'greenhouse_gas_ghgs_emissions_including_indirect_co2_without_lulucf_in_kilotonne_co2_equivalent':'ghgs_co2',
 'greenhouse_gas_ghgs_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'ghgs',
 'hydrofluorocarbons_hfcs_emissions_in_kilotonne_co2_equivalent':'hfcs',
 'methane_ch4_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'ch4',
 'nitrogen_trifluoride_nf3_emissions_in_kilotonne_co2_equivalent':'nf3',
 'nitrous_oxide_n2o_emissions_without_land_use_land_use_change_and_forestry_lulucf_in_kilotonne_co2_equivalent':'n2o',
 'perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent':'pfcs',
 'sulphur_hexafluoride_sf6_emissions_in_kilotonne_co2_equivalent':'sf6',
 'unspecified_mix_of_hydrofluorocarbons_hfcs_and_perfluorocarbons_pfcs_emissions_in_kilotonne_co2_equivalent':'hfcs_pfcs'}

In [ ]:
data['category'] =data['category'].map(map)

In [ ]:
data.head()

  country_or_area  year          value category
0       Australia  2014  393126.946994      co2
1       Australia  2013  396913.936530      co2
2       Australia  2012  406462.847704      co2
3       Australia  2011  403705.528314      co2
4       Australia  2010  406200.993184      co2

In [ ]:
data.to_csv('udata.csv')